<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>
        <%- SEO_Baslik %>
    </title>
    <base href="/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link href="https://storage.googleapis.com/yukluyoo-cdn/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="https://storage.googleapis.com/yukluyoo-cdn/css/mdb.min.css" type="text/css" rel="stylesheet">
    <!--<link href="https://storage.googleapis.com/yukluyoo-cdn/js/jquery-3.4.1.min.js" type="text/css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<body>

    <div class="shadow-sm p-3 mb-5 bg-white rounded text-center">
        <h2>
            <img src="https://storage.googleapis.com/yukluyoo-cdn/img/YUKLUYO.png" alt="logo">
        </h2>
    </div>

    <div class="text-center align-middle shadow p-3 mb-5 bg-white container">
        <h4>Burada böyle bir sayfa yok gibi gözüküyor?</h4>

    </div>
</body>

</html>