<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>
        Yüklüy.ooo
    </title>
    <base href="/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link href="https://storage.googleapis.com/yukluyoo-cdn/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="https://storage.googleapis.com/yukluyoo-cdn/css/mdb.min.css" type="text/css" rel="stylesheet">
    <!--<link href="https://storage.googleapis.com/yukluyoo-cdn/js/jquery-3.4.1.min.js" type="text/css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<body>

    <div class="shadow-sm p-3 mb-5 bg-white rounded text-center">
        <h1>
            <img src="https://storage.googleapis.com/yukluyoo-cdn/img/YUKLUYO.png" alt="logo">
        </h1>
    </div>

    <div class="text-center align-middle shadow p-3 mb-5 bg-white container">
        <h2>Kabulü</h2>
        Kullanıcı verileri internet sitemize yüklerken buradaki içeriklerin hepsini görüntülemiş ve hür iradesi ile kabul etmiş sayılmaktadır.
        <h2>Toplanan veriler</h2>
        IP adresi : Kullanıcının internetteki kimliğini belirten adrestir.<br> Yüklenen dosya'nın adı : Sunucularımıza kullanıcı tarafından yüklenen dosya'nın adı.<br> Yüklenen dosya'nın boyutu : Sunucularımıza kullanıcı tarafından yüklenen dosya'nın
        boyutu.
        <br>Dosya : Kullanıcının internet sitemize yüklediği veri.
        <br>
        <h2>Toplanan verilerin kullanımı</h2>
        IP adresi : Siteye saldırı olma, adli durumlar için toplanıp veritabanımızda saklanmaktadır.<br> Yüklenen dosya'nın adı : Kullanıcının paylaştığı/kendi kullandığı indirme bağlantısının içerisinde görüntülenen ve kullanıcı deneyimini iyileştirmek
        için kullanıllanılan içerik.<br> Yüklenen dosya'nın boyutu : Kullanıcının paylaştığı/kendi kullandığı indirme bağlantısının içerisinde görüntülenen ve kullanıcı deneyimini iyileştirmek için kullanıllanılan içerik.<br>Dosya: Kullanıcının paylaştığı/kendi
        kullandığı indirme bağlantısının içerisinde görüntülenen ve kullanıcı deneyimini iyileştirmek için kullanıllanılan içerik.
        <h2>Verileri kendi tarafımızca kullanma haklarımız</h2>
        Kabulü kısmında da belirtildiği gibi kullanıcının izni ile topladığımız verileri değiştirme, paylaşma, görüntüleme, silme ve gerektiği durumlarda güvenlik güçleri ile paylaşma izni almış bulumaktayız.
    </div>
    <script>
    </script>
</body>

</html>